<div style="width: 100%; height: 20%;">
  <mat-card class="profile-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{name}}</mat-card-title>
      <mat-card-subtitle>{{profileText[userProfile]}}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>

<div style="width: 100%; height: 80%; overflow: auto; overflow-x: hidden;">

   <mat-accordion style="display: flex; flex-direction: column;" multi="true">
     <mat-expansion-panel *ngFor="let menuSection of menu" style="margin: 2px;" >
       <mat-expansion-panel-header>
         <mat-panel-title style="font-size: 12px;">
          <mat-icon>{{menuSection.icon}}</mat-icon>{{menuSection.name}}
         </mat-panel-title>
       </mat-expansion-panel-header>
       <div>
           <p *ngFor="let menuItem of menuSection.children" style="font-size: 11px;">
             <a [routerLink]="menuItem.url">
              {{menuItem.name}}
             </a>
           </p>
       </div>

     </mat-expansion-panel>
   </mat-accordion>

 <!--

   <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree tree-background" >
     <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
       <a [routerLink]="node.url">{{node.name}}</a>
     </mat-tree-node>

     <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
       <div class="mat-tree-node parent-node">
         <button mat-icon-button matTreeNodeToggle
                 [attr.aria-label]="'Toggle ' + node.name">
           <mat-icon class="mat-icon-rtl-mirror">
             {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
           </mat-icon>
         </button>
         {{node.name}}
       </div>

       <div [class.example-tree-invisible]="!treeControl.isExpanded(node)"
           role="group">
         <ng-container matTreeNodeOutlet></ng-container>
     </div>
   </mat-nested-tree-node>
   </mat-tree>
 -->


  <!--

    <button mat-button color="accent" class="button-padding">
  <mat-icon aria-hidden="false" aria-label="Example home icon">
    dashboard
  </mat-icon>
  Dashboard
  <mat-icon>navigate_next</mat-icon>
</button>


    <button mat-button color="accent" class="button-padding" [routerLink]="getMaintenanceUrl()">
      <mat-icon aria-hidden="false" aria-label="Example home icon">
        settings
      </mat-icon>

    </button>

    <button mat-button color="accent" class="button-padding">
      <mat-icon aria-hidden="false" aria-label="Example home icon">
        manage_accounts
      </mat-icon>
      Controles
      <mat-icon>navigate_next</mat-icon>
    </button>

    <button mat-button color="accent" class="button-padding">
      <mat-icon aria-hidden="false" aria-label="Example home icon">
        flight
      </mat-icon>
      Operaciones
      <mat-icon>navigate_next</mat-icon>
    </button>

    <button mat-button color="accent" class="button-padding">
      <mat-icon aria-hidden="false" aria-label="Example home icon">
        description
      </mat-icon>
      Reportes
      <mat-icon>navigate_next</mat-icon>
    </button>

    <button mat-button color="accent" class="button-padding">
      <mat-icon aria-hidden="false" aria-label="Example home icon">
        settings
      </mat-icon>
      Cathering
      <mat-icon>navigate_next</mat-icon>
    </button>
   -->


</div>
