.button-padding {
  padding-bottom: 20px;
}

.example-header-image {
  background-image: url("https://intelsoftperu.com/assets/img/testimonials/men.png");
  background-size: cover;
}

.profile-card {
  background-color:var(--primary-color);
}

.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

/*
 * This padding sets alignment of the nested nodes.
 */
.example-tree .mat-nested-tree-node div[role="group"] {
  padding-left: 40px;
}

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
.example-tree div[role="group"] > .mat-tree-node {
  padding-left: 40px;
}

.parent-node {
  color: var(--primary-color);
}

.tree-background {
  background-color: var(--background-color);
}

mat-tree-node {
  color:var(--primary-color);
}

mat-nested-tree-node {
  color: var(--primary-color);
}

mat-tree {
  color:var(--primary-color);
}

a {
  color: var(--primary-color);
  text-decoration: none !important;
}

mat-panel-title{
  color: var(--primary-color);
}

::-webkit-scrollbar {
  width: 1px !important;
}

.mat-expansion-panel:not([class*='mat-elevation-z']) {
  box-shadow: none;
}

.mat-icon {
  font-size: 20px;
}

a:hover {
  color: var(--second-background-color);
}
