table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.mat-column-action {
  width: 300px !important;
}

.mat-column-menuType {
  width: 100px !important;
}

.mat-column-quantity {
  width: 100px !important;
}

.mat-column-name {
  width: 300px !important;
}
