table{
  width: 100%;
  overflow-x: scroll;
}

.view-control-icon {
  cursor: pointer;
  color: var(--second-background-color);
}

.mat-row:hover {
  background-color: var(--primary-color);
  cursor: pointer;
}

.highlight{
  border: 1.5px solid var(--second-background-color);
}
