<ng-container *ngIf="!loading; else isLoading" style="height: 100%;">
  <div style="height: 12%; display: flex; justify-content: space-between;">
    <h1 class="title">Configuración de controles</h1>
    <button mat-button (click)="openDialog('Nuevo Control Rutinario')">Crear control</button>
  </div>

  <div style="height: 80%;" class="scroll">
    <div style="margin: 10px;">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let control of controlsData | paginate:pageSize:pageNumber" style="margin-top: 5px;" class="normal-font-color">
          <mat-expansion-panel-header>
            <mat-panel-title class="normal-font-color">
              <div style="width: 50%;">
                <strong>{{control?.Name}}</strong>
              </div>
              <div>
                <strong>{{control.Type}}</strong>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <h6> <strong>Descripción:</strong> </h6>
            <p>{{control?.Description}}</p>
          </div>
          <div>
            <h6><strong>Rol:</strong></h6>
            <p>{{control.Role.Name}}</p>
          </div>
          <div style="display: flex;">
            <div style="flex-grow: 1;">
              <h6><strong>Tareas:</strong></h6>
              <mat-list>
                <mat-list-item *ngFor="let task of control.Tasks">
                  <div class="normal-font-color">  {{task?.Description}} <strong>Asignado:</strong> {{task?.Role?.Name}} </div>
                  <mat-divider></mat-divider>
                </mat-list-item>
              </mat-list>
            </div>
            <div style="flex-grow: 1;">
              <h6><strong>Insumos:</strong></h6>
              <mat-list>
                <mat-list-item *ngFor="let supply of control.Supplies">
                  <div class="normal-font-color">
                    {{supply?.Name}}
                  </div>
                  <mat-divider></mat-divider>
                </mat-list-item>
              </mat-list>
            </div>
          </div>
          <div class="action-button">
            <button mat-raised-button style="flex-grow: 1;" (click)="openDialog('Editar Control Rutinario', control)">Editar</button>
            <button mat-raised-button style="flex-grow: 1;" (click)="delete(control)">Borrar</button>
          </div>

        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
  <mat-paginator showFirstLastButtons="true" [length]="controlsData.length" [pageSize]="pageSize" [pageSizeOptions]="[10, 50, 100]" aria-label="Select page"
    (page)="handlePage($event)">
  </mat-paginator>


</ng-container>
<ng-template #isLoading>
  <div style="height: 89%; width: 100%; display: flex; align-items: center; justify-content: center;">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
