<h4 mat-dialog-title class="title">{{title}}</h4>
<mat-grid-list cols="8" rowHeight="2:1">
  <form [formGroup]="controls">
    <mat-grid-tile colspan="5" rowspan="2">

      <mat-form-field class="example-full-width" style="width: 100%;" appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="name">
        <mat-hint>Ingresar el nombre del mantenimiento</mat-hint>
        <mat-error *ngIf="controls.get('name')?.hasError('required')">
          El nombre del mantenimiento es <strong>requerido</strong>.
        </mat-error>
      </mat-form-field>

    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="2">
      <mat-form-field style="width: 100%;" appearance="fill">
        <mat-label>Habilidad</mat-label>
        <mat-select formControlName="ability" multiple>
          <mat-option [value]="ability.Id" *ngFor="let ability of availableAbilities">
            {{ability.Name}}
          </mat-option>
        </mat-select>
        <mat-hint>Agregar habilidades</mat-hint>
        <mat-error *ngIf="controls.get('ability')?.hasError('required')">
          La habilidad es <strong>requerida</strong>.
        </mat-error>
      </mat-form-field>

    </mat-grid-tile>

    <mat-grid-tile colspan="6" rowspan="4">

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Descripción</mat-label>
        <textarea formControlName="description" matInput 
          style="width: 100%; height: 100%;"></textarea>
        <mat-hint>Ingresar una descripción</mat-hint>
        <mat-error *ngIf="controls.get('description')?.hasError('required')">
          La descripción es <strong>requerida</strong>.
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile colspan="2" rowspan="4">
      <mat-radio-group aria-label="Select an option" formControlName="type" (click)="$event.stopPropagation();"
        style="width: 100%; height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 20px; margin-bottom: 20px;">
        <mat-radio-button [checked]="controls.get('type')?.value === 1" value="1">Preventivo</mat-radio-button>
        <mat-radio-button [checked]="controls.get('type')?.value === 0" value="0">Correctivo</mat-radio-button>
      </mat-radio-group>
    </mat-grid-tile>

  </form>


  <mat-grid-tile colspan="8" rowspan="6">
    <div style="width: 100%; height: 95%; overflow-x: hidden;" class="common-border">
      <mat-tab-group style="width: 100%; width: 100%;" mat-align-tabs="start" [(selectedIndex)]="tabIndex">
        <mat-tab label="Tareas">
          <table mat-table [dataSource]="taskDataSource">

            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef> Descripción </th>
              <td mat-cell *matCellDef="let element"> {{element.Description}} </td>
            </ng-container>

            <ng-container matColumnDef="remove">
              <th mat-header-cell *matHeaderCellDef> Eliminar </th>
              <td mat-cell *matCellDef="let element;">
                <a (click)="deleteTask(element)" class="delete-icon" style="cursor: pointer;">
                  <mat-icon>delete</mat-icon>
                </a>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </mat-tab>

        <mat-tab label="Insumos">
          <table mat-table [dataSource]="suppliesDataSource">

            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef> Descripción </th>
              <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
            </ng-container>

            <ng-container matColumnDef="remove">
              <th mat-header-cell *matHeaderCellDef> Eliminar </th>
              <td mat-cell *matCellDef="let element;">
                <a (click)="deleteSupply(element)" class="delete-icon" style="cursor: pointer;">
                  <mat-icon>delete</mat-icon>
                </a>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

        </mat-tab>
      </mat-tab-group>
    </div>

  </mat-grid-tile>

  <mat-grid-tile colspan="7" rowspan="2">

    <ng-container *ngIf="tabIndex == 0; else isSuppliesTab">
      <mat-form-field class="example-full-width" style="width: 100%;" appearance="fill">
        <mat-label>Descripción de la tarea</mat-label>
        <input matInput [formControl]="taskControl">
      </mat-form-field>
    </ng-container>
    <ng-template #isSuppliesTab>
      <mat-form-field style="width: 100%;" appearance="fill">
        <mat-label>Insumos</mat-label>
        <mat-select [formControl]="supplyControl">
          <mat-option [value]="supply" *ngFor="let supply of availableSupplies">
            {{supply.Name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </ng-template>

  </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="2">
    <button style="width: 100%; height: 64px; margin-bottom: 19px; margin-left: 6px;" [disabled]="disableButton()"
      (click)="add()" mat-raised-button>Agregar</button>
  </mat-grid-tile>

</mat-grid-list>

<div matTooltipPosition="below" #tooltip="matTooltip" [matTooltip]="getTooltipMessage()">
  <button style="width: 100%; height: 40px;" mat-raised-button [disabled]="disableSaveButton()"
    (click)="closeAndSave()">Guardar Mantenimiento</button>
</div>
