<div style="width: 100%; height: 100%; display: flex; flex-direction: column; gap: 8px">

  <mat-card
    style="background-color: var(--second-background-color); display: flex; gap: 8px; flex-direction: column;"
    class="mat-elevation-z4">
    <p>
      Cantidades recomendadas para el vuelo: {{this.data.flightName}}
    </p>
    <div style="display: flex; gap: 8px; justify-content: space-between;">
      <div>
        <p>
          Celiacos: {{data.recommendedQuantities?.CeliacMenu}}
        </p>
      </div>
      <div>
        <p>
          Estandar: {{data.recommendedQuantities?.StandardMenu}}
        </p>
      </div>
      <div>
        <p>
          Veganos: {{data.recommendedQuantities?.VeganMenu}}
        </p>
      </div>
      <div>
        <p>
          Vegetariano: {{data.recommendedQuantities?.VegetarianMenu}}
        </p>
      </div>
    </div>
  </mat-card>
  <div style="overflow-y: scroll; overflow-x: hidden;">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="completeName">
        <th mat-header-cell *matHeaderCellDef> Nombre completo </th>
        <td mat-cell *matCellDef="let element"> {{element?.Name}} {{element?.LastName}} </td>
      </ng-container>
      <ng-container matColumnDef="seat">
        <th mat-header-cell *matHeaderCellDef> Asiento </th>
        <td mat-cell *matCellDef="let element"> {{element?.Seat}} </td>
      </ng-container>
      <ng-container matColumnDef="condition">
        <th mat-header-cell *matHeaderCellDef> Condición </th>
        <td mat-cell *matCellDef="let element"> {{element?.Condition}} </td>
      </ng-container>
      <ng-container matColumnDef="diet">
        <th mat-header-cell *matHeaderCellDef> Dieta </th>
        <td mat-cell *matCellDef="let element"> {{element?.Diet.toUpperCase()}} </td>
      </ng-container>
      <ng-container matColumnDef="class">
        <th mat-header-cell *matHeaderCellDef> Clase </th>
        <td mat-cell *matCellDef="let element"> {{element?.Class}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
