<mat-card style="width: 100%; height: 100%;">
  <div style="display: grid; grid-template-columns: 1fr 1fr ; grid-template-rows: 1fr 1fr 1fr 1fr 1fr; gap: 15px; width: 100%; height: 100%;">
    <div style=" grid-row: 3 span; border: 1px solid var(--primary-color); border-radius: 4px !important;">

      <img src="https://intelsoftperu.com/assets/img/testimonials/men.png" width="100%" height="100%" style="padding: 10px;" alt="">

    </div>

    <div>
      <strong>Email:</strong>
      <p>{{user?.Email}}</p>
    </div>
    <div>
      <strong>Nombre:</strong>
      <p>{{user?.Name}}</p>
    </div>
    <div>
      <strong>Apellido:</strong>
      <p>{{user?.Surname}}</p>
    </div>
    <div>
      <strong>En vuelo:</strong>
      <p *ngIf="user?.FlightId != null else hasNotFlight">{{user?.FlightId}}</p>
      <ng-template #hasNotFlight>
        <p>No tiene un vuelo asignado</p>
      </ng-template>
    </div>
    <div>
      <strong>Rol:</strong>
      <p>{{roleName}}</p>
    </div>
    <div>
      <strong>Habilidades:</strong>
      <p *ngIf="user.Abilities.length != 0 else hasNotAbilities">{{getBeautyAbilities()}}</p>
      <ng-template #hasNotAbilities>
        <p>No posee habilidades</p>
      </ng-template>
    </div>
    <div>
      <strong>Vuelos asignados en otros estados:</strong>
      <p *ngIf="assignedFlights.length != 0 else hasNotFlight">{{getBeautyFlights()}}</p>
      <ng-template #hasNotFlight>
        <p>No tiene vuelos asignados</p>
      </ng-template>
    </div>

  </div>
</mat-card>
