
<div style="width: 100%;  height: 15%">
  <h1 class="title">Crear Protocolos</h1>
</div>
<div
  style="width: 100%; height: 75%; border: 1px solid var(--primary-color); border-radius: 4px !important;">
  <form [formGroup]="controls">
    <div style="display: flex; gap: 5px;  align-items: center; justify-content: center; padding: 10px;">
      <mat-form-field style="flex-grow: 3;"  appearance="outline">
        <mat-label>Nombre del Protocolo</mat-label>
        <input formControlName="protocolName" matInput placeholder="Agregar tarea de protocolo" required>
      </mat-form-field>
      <mat-form-field style="flex-grow: 3;"  appearance="outline">
        <mat-label>Tarea de Protocolo</mat-label>
        <input formControlName="protocolTask" matInput placeholder="Agregar tarea de protocolo" required>
      </mat-form-field>
      <button [disabled]="controls.get('protocolTask')?.invalid" (click)="addProtocolTask()"
      style="flex-grow: 1; height: 60px; margin-bottom: 6px;"  mat-raised-button>Agregar</button>
    </div>
  </form>
  <div style="width: 100%; height: 300px; overflow: auto;">
    <mat-list>
      <mat-list-item *ngFor="let protocolStep of protocol.Tasks">
        <p class="principal-color"> {{protocolStep.Id}} - {{protocolStep.Name}}</p>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>
</div>
<div style="display: flex; align-items: center; justify-content: center; gap: 10px; margin-top: 5px;">
  <button [disabled]="protocol.Tasks.length == 0 || controls.get('protocolName')?.invalid" style="flex-grow: 1" mat-raised-button (click)="doSave()">Guardar</button>
  <button style="flex-grow: 1" mat-raised-button (click)="doReset()">Limpiar</button>
</div>
