<div style="width: 100%;  height: 15%">
  <h1 class="title">Asignación mantenimientos</h1>
</div>

<mat-card style="width: 100%; height: 85%; display: flex; gap: 10px; background-color: var(--second-background-color)"
  class="mat-elevation-z4">

  <mat-card style="width: 35%; height: 100%;" class="mat-elevation-z4">
    <form [formGroup]="controls" style="width: 100%; height: 100%;">
      <div style="width: 100%; height: 100%; display: grid; grid-template-columns: 1fr 1fr ; grid-template-rows: 1fr 1fr 1fr; gap: 5px;">
        <div style="display: flex; justify-content: center; align-items: center; grid-column: 2 span;">
          <div style="flex-grow: 1;">
            <h2 class="title" style="display: flex; align-items: center;">
              Asignar
            </h2>
          </div>
        </div>

        <div style="grid-column: 2 span;">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Aeronave</mat-label>
            <mat-select formControlName="aircraft" (ngModelChange)="changeAircraftLogic()">
              <mat-option [value]="aircraft" *ngFor="let aircraft of availableAircrafts;">
                {{aircraft.Id}} - {{aircraft.Model}}
              </mat-option>
            </mat-select>
            <mat-hint>Seleccionar Aeronave</mat-hint>
            <mat-error *ngIf="controls.get('aircraft')?.hasError('required')">
              La aeronave es <strong>requerida</strong>.
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Mantenimiento</mat-label>

            <mat-select formControlName="maintenance" [disabled]="filterMaintenances(availableMaintenances).length == 0" >
              <mat-option [value]="maintenance" *ngFor="let maintenance of filterMaintenances(availableMaintenances);">
                {{maintenance.Name}} - {{maintenance.Type}}
              </mat-option>
            </mat-select>
            <mat-hint *ngIf="filterMaintenances(availableMaintenances).length == 0" style="color: red;">No hay mantenimientos</mat-hint>
            <mat-hint *ngIf="filterMaintenances(availableMaintenances).length != 0">Seleccionar Mantenimiento</mat-hint>
            <mat-error *ngIf="controls.get('maintenance')?.hasError('required')">
              El mantenimiento es <strong>requerido</strong>.
            </mat-error>
          </mat-form-field>

          <div style="grid-column: 2 span;">
            <div style="display: flex; width: 100%; height: 100%; gap: 5px; justify-content: center;">
              <button (click)="doSave(); cleanControl()" [disabled]="invalidForms()" mat-raised-button style="flex-grow: 1; height: 50%;">Agregar</button>
            </div>
          </div>

        </div>
      </div>
    </form>
  </mat-card>

  <mat-card style="width: 65%; height: 100%; overflow: auto;" class="mat-elevation-z4">
    <ng-container *ngIf="!loadingTable; else isLoading" style="width: 100%; height: 100%;">
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> Tipo </th>
          <td mat-cell *matCellDef="let element"> {{element.Type}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr *matNoDataRow class="mat-row">
          <td class="mat-cell" colspan="3" style="color: var(--primary-color)">No hay mantenimientos asignados a esta aeronave</td>
        </tr>

      </table>
    </ng-container>
    <ng-template #isLoading>
      <div style="height: 100%; width: 100%; display: flex; align-items: center; justify-content: center;">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
  </mat-card>

</mat-card>
