table{
  width: 100%;
  overflow-x: scroll;
}

.delete-icon {
  cursor: pointer;
  color: var(--second-background-color);
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: white !important;
}
