<div style="height: 550px; width: 100%; overflow: auto;">

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>
        Nombre
      </th>
      <td mat-cell *matCellDef="let element"> {{element.Supply.Name}} </td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>
        Cantidad
      </th>
      <td mat-cell *matCellDef="let element"> {{element.FinalQuantity}} </td>
    </ng-container>

    <ng-container matColumnDef="sanitaryType">
      <th mat-header-cell *matHeaderCellDef>
        Tipo
      </th>
      <td mat-cell *matCellDef="let element"> {{sanitaryTypeTexts[element.Supply.SanitaryType]}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>
        Descripción
      </th>
      <td mat-cell *matCellDef="let element"> {{element.Supply.Description}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>
        <div style="display: flex; align-items: center; justify-content: center;">
          Entregar
        </div>
      </th>
      <td mat-cell *matCellDef="let element">
        <div
          style="width: 100%; height: 100%;  display: flex; justify-content: center; align-items: center; gap: 8px; flex-wrap: wrap;">
          <mat-form-field class="example-form-field" style="width: 100px; height: 60px;" appearance="outline">
            <mat-label>Cantidad</mat-label>
            <input [disabled]="element.FinalQuantity == 0" type="number" matInput #inputRef>
            <button *ngIf="inputRef.value" matSuffix mat-icon-button aria-label="Clear" (click)="inputRef.value=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>

          <button style="height: 54px; display: flex; align-items: center; justify-content: center;" mat-raised-button
            [disabled]="!inputRef.value || inputRef.value > element.FinalQuantity" (click)="doSale(inputRef, element)"> Vender
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>



