<div class="parent-container">
  <div style="height: 5%; width: 100%; display: flex;">
    <div style="width: 70%; height: 100%;">
      <p><strong>{{data.Description}}</strong></p>
      <h6>Fecha de asignación: {{data.Date | datePipe}}</h6>
    </div>
    <div
      style="width: 30%; height: 100%; display: flex; margin-top: 20px; flex-direction: column; align-items: flex-end;">
      <div>
        <h6>Prioridad: {{priorityTexts[data.Priority]}}</h6>
      </div>
      <div>
        <h6>Aeronave: {{data.Aircraft}}</h6>
      </div>
    </div>
  </div>
  <div style="height: 67%; width: 100%; overflow-y: scroll; overflow-x: hidden;">
    <mat-list>
      <mat-list-item *ngFor="let task of getMaintenanceTasks()">
        <mat-icon>chevron_right</mat-icon>{{task?.Description}}
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>
  <div style="height: 20%; width: 100%;">
    <mat-form-field style="width: 100%; height: 100%;" appearance="fill">
      <mat-label>Observaciones</mat-label>
      <textarea [formControl]="observationsControl" rows="5" cols="5" matInput
        placeholder="Cualquier detalle sobre las tareas debe ser informado"></textarea>
    </mat-form-field>
  </div>
  <div style="height: 8%; width: 100%; display: flex; gap: 10px;">
    <button [disabled]="observationsControl.invalid || isPending()" (click)="openAlertDialog()" style="flex-grow: 1;"
      mat-raised-button>
      <mat-icon>check</mat-icon> Hecho
    </button>
    <button (click)="closeDialog()" style="flex-grow: 1;" mat-raised-button>
      <mat-icon>close</mat-icon> Volver
    </button>
  </div>

</div>
