<mat-card style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
  <div class="empty-state-container" >
    <img src="assets\empty-state.webp" alt="">
  </div>
  <div style="color: var(--primary-color);">{{message}}</div>
</mat-card>
