<ng-container *ngIf="!loading; else isLoading" style="height: 100%;">

  <div style="height: 10%; width: 99.3%; display: flex; justify-content: space-between;">
    <h1 class="title">Configuración de tipo emergencias</h1>
    <button mat-button (click)="openDialog('Nuevo Tipo De Emergencia')" >Crear tipo emergencia</button>
  </div>

  <div style="height: 80%;" class="scroll">
    <div style="margin: 10px;">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let emergency of emergencyData | paginate:pageSize:pageNumber" style="margin-top: 5px;">
          <mat-expansion-panel-header>
            <mat-panel-title class="normal-font-color">
              <strong>{{emergency.Name}}</strong>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div style="display: flex;" class="normal-font-color">
            <div style="flex-grow: 1;">
              <h6><strong>Protocolo:</strong></h6>
              <mat-list>
                <mat-list-item *ngFor="let task of emergency.Protocol.Tasks">
                  <div [ngStyle]="getMargin(task.Id)" class="normal-font-color">
                    {{task.Id}} - {{task?.Name}}
                  </div>
                  <mat-divider></mat-divider>
                </mat-list-item>
              </mat-list>
            </div>
          </div>
          <div class="action-button">
            <button style="flex-grow: 1;" mat-raised-button (click)="openDialog('Editar Tipo de emergencia', emergency)"> <mat-icon>edit</mat-icon> Editar</button>
            <button style="flex-grow: 1;" mat-raised-button (click)="delete(emergency)"> <mat-icon>delete</mat-icon> Borrar</button>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>

  <mat-paginator showFirstLastButtons="true" [length]="emergencyData.length" [pageSize]="pageSize" [pageSizeOptions]="[10, 50, 100]" aria-label="Select page"
    (page)="handlePage($event)">
  </mat-paginator>
</ng-container>
<ng-template #isLoading>
  <div style="height: 89%; width: 100%; display: flex; align-items: center; justify-content: center;">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
