<h1 style="color: var(--title-color);  width: 200px;
margin-left: auto;
margin-right: auto; margin-top: 200px;">Auditoría</h1>
<div style=" display: flex;justify-content: center;">
    <button mat-raised-button (click)="dowloadCSV()" style="  width: 210px; height: 60px;
    margin: 0 auto;
  "><mat-icon>download</mat-icon> Descargar csv</button>

</div>
