<div>

  <div id="content" #content style="height: 100%; height: 100%;">

      <div style="width: 100%;">
        <h3 class="title">{{data.control.Name}}</h3>
      </div>

    <mat-card style="display: flex;">
      <div style="flex-grow: 1;">
        <mat-card-title class="principal-color">Tipo:</mat-card-title>
        <p class="principal-color">
          {{data.control.Type}}
        </p>
      </div>

      <div style="flex-grow: 1;">
        <mat-card-title class="principal-color">Rol a cargo:</mat-card-title>
        <p class="principal-color">
          {{data.control.Role.Name}}
        </p>
      </div>

      <div style="flex-grow: 1;">
        <mat-card-title class="principal-color">Vuelo:</mat-card-title>
        <p class="principal-color">
          {{data.flightCode}}
        </p>
      </div>
    </mat-card>

    <mat-card style="margin-top: 5px;">
      <mat-card-title class="principal-color">Descripción:</mat-card-title>
      <p class="principal-color">
        {{data.control.Description}}
      </p>
    </mat-card>


    <mat-card style="margin-top: 5px;" *ngIf="data.observation && data.observation.length != 0">
      <mat-card-title class="principal-color">Observación:</mat-card-title>
      <p class="principal-color">
        {{data.observation}}
      </p>
    </mat-card>


    <mat-card style="margin-top: 5px;">
      <div style="display: flex; max-height: 500px; overflow: auto;">
        <div style="flex-grow: 1;">
          <mat-card-title class="principal-color">Tareas:</mat-card-title>
          <mat-list>
            <mat-list-item *ngFor="let task of data.control.Tasks">
              <p class="principal-color"> {{task?.Description}}<strong> Asignado: </strong> {{task?.Role?.Name}} </p>
            </mat-list-item>
          </mat-list>
        </div>

        <div *ngIf="data.control.Supplies.length != 0" style="flex-grow: 1;">
          <mat-card-title class="principal-color">Insumos:</mat-card-title>
          <mat-list>
            <mat-list-item *ngFor="let supply of data.control.Supplies">
              <p class="principal-color"> {{supply?.Name}}</p>
              <mat-divider></mat-divider>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </mat-card>
  </div>
  <div style="display: flex; gap: 10px; margin-top: 5px;">
    <button style="flex-grow: 1;" mat-raised-button mat-dialog-close> Salir </button>
    <button style="flex-grow: 1;" mat-raised-button (click)="makePdf()"> Descargar en pdf</button>
  </div>
</div>
