<div style="width: 100%; height: 100%;">
  <div style="width: 100%; height: 100%; margin-top: 9px;">
    <button mat-icon-button aria-label="Example icon button with a open in new tab icon" class="button" (click)="openInfoDialog()">
      <mat-icon>person</mat-icon>
    </button>
    <button (click)="openConfirmLogOutDialog()" mat-icon-button aria-label="Example icon button with a open in new tab icon" class="button">
      <mat-icon>logout</mat-icon>
    </button>
    <button [disabled]="notificationsQuantity == undefined" routerLink="/notifications" mat-icon-button aria-label="Example icon button with a open in new tab icon" class="button">
      <mat-icon [matBadge]="notificationsQuantity" >notifications</mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon button with a open in new tab icon" class="button">
      <mat-icon (click)="redirectHome()">home</mat-icon>
    </button>
    <div class = "logo">
      <img src="assets/logo-neg.png" width="250" height="65">
    </div>
  </div>
</div>

