.logo {
    float:right;
    display:inline !important;
}
.mat-icon {
  font-size: 30px;
}

.header {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  gap: 30px;
  align-items: center;
}
