<h4 mat-dialog-title class="title">Solicitud de mantenimiento</h4>

  <ng-container *ngIf="loading; else loaded">
    <div style="height: 89%; width: 100%; display: flex; align-items: center; justify-content: center;">
      <mat-spinner></mat-spinner>
    </div>
  </ng-container>
  <form [formGroup]="controls">
    <ng-template #loaded>

      <div class="principal-container">

        <div class="first-column">
          <div class="background">
            <mat-form-field class="grow" appearance="fill">
              <mat-label>Aeronave</mat-label>
              <mat-select formControlName="aircraft" (selectionChange)="setMaintenance()">
                <mat-option *ngFor="let aircraft of availableAircrafts" [value]="aircraft">
                  {{aircraft.Id}} ({{aircraft.Model}})
                </mat-option>
              </mat-select>
              <mat-hint>Seleccionar una aeronave</mat-hint>
              <mat-error *ngIf="controls.get('aircraft')?.hasError('required')">
                La aeronave es <strong>requerida</strong>.
              </mat-error>
            </mat-form-field>
          </div>

          <div class="background">
            <mat-form-field class="grow" appearance="fill">
              <mat-label>Mantenimiento</mat-label>
              <mat-select formControlName="maintenance" [disabled]="disableMaintenanceSelect()">
                <mat-option *ngFor="let maintenance of maintenanceByAircraft" [value]="maintenance">
                  {{maintenance.Name}}
                </mat-option>
              </mat-select>
              <mat-spinner *ngIf="loadingMaintenances" matSuffix [diameter]="18" style="float: right; margin-left: 8px; margin-bottom: 5px;"></mat-spinner>
              <mat-hint>Seleccionar un tipo de mantenimiento</mat-hint>
              <mat-error *ngIf="controls.get('maintenance')?.hasError('required')">
                El mantenimiento es <strong>requerido</strong>.
              </mat-error>
            </mat-form-field>
          </div>

          <div class="background">
            <mat-form-field class="grow" appearance="fill">
              <mat-label>Descripción</mat-label>
              <input matInput value="Descripción" formControlName="description">
              <mat-hint>Ingresa una descripción</mat-hint>
              <mat-error *ngIf="controls.get('description')?.hasError('required')">
                La descripción es <strong>requerida</strong>.
              </mat-error>
            </mat-form-field>
          </div>

          <div class="background">
            <mat-form-field class="grow" appearance="fill">
              <mat-label>Técnico</mat-label>
              <mat-select formControlName="technisian">
                <mat-option [value]="technician" *ngFor="let technician of availableTechnicians">
                  {{technician.Name}} - {{getAbilitiesString(technician.Abilities)}}
                </mat-option>
              </mat-select>
              <mat-hint>Selecciona una habilidad</mat-hint>
              <mat-error *ngIf="controls.get('technisian')?.hasError('required')">
                El técnico es <strong>requerido</strong>.
              </mat-error>
            </mat-form-field>
          </div>

        </div>

        <div class="second-column">

          <div style="display: flex; flex-direction: column;">

            <div class="example-container">
              <table mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="description">
                  <th mat-header-cell *matHeaderCellDef> Descripción </th>
                  <td mat-cell *matCellDef="let element"> {{element.Description}} </td>
                </ng-container>

                <ng-container matColumnDef="remove">
                  <th mat-header-cell *matHeaderCellDef> Eliminar </th>
                  <td mat-cell *matCellDef="let element;">
                    <a (click)="deleteTask(element)" class="delete-icon" style="cursor: pointer;">
                      <mat-icon>delete</mat-icon>
                    </a>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

              </table>
            </div>
            <div style="width: 100%; height: 21%; display: flex; gap: 10px;">
              <mat-form-field style="flex-grow: 3;" appearance="fill">
                <mat-label>Descripción de la tarea</mat-label>
                <input matInput type="text" [formControl]="taskControl">
                <mat-hint>Ingresa una drescripción de tarea</mat-hint>
              </mat-form-field>
              <button [disabled]="taskControl.invalid || duplicateTask()" (click)="addTask()" mat-raised-button style="flex-grow: 1;">
                Agregar
              </button>
            </div>

          </div>

          <div class="background" style="gap: 10px;">

            <div class="grow" style="display: flex;">
              <mat-form-field class="grow" appearance="fill">
                <mat-label>Prioridad</mat-label>
                <mat-select formControlName="priority">
                  <mat-option *ngFor="let priority of availablePriorities; let i = index" [value]="i">
                    {{priority}}
                  </mat-option>
                </mat-select>
                <mat-hint>Selecciona una prioridad</mat-hint>
                <mat-error *ngIf="controls.get('priority')?.hasError('required')">
                  La prioridad es <strong>requerida</strong>.
                </mat-error>
              </mat-form-field>
            </div>

            <div class="grow" style="display: flex;">
              <mat-form-field class="grow" appearance="fill">
                <mat-label>Módulo</mat-label>
                <input matInput type="number" formControlName="module">
                <mat-hint>Ingresa un módulo</mat-hint>
                <mat-error *ngIf="controls.get('module')?.hasError('required')">
                  El módulo es <strong>requerido</strong>.
                </mat-error>
              </mat-form-field>
            </div>

          </div>
        </div>


      </div>

      <mat-dialog-actions style="flex-wrap: wrap">
        <button style="flex-grow: 1;" mat-raised-button mat-dialog-close = false > <mat-icon>close</mat-icon> Cancel</button>
        <button style="flex-grow: 1;" mat-raised-button [mat-dialog-close] = "getMaintenanceReqDTO()" cdkFocusInitial
          [disabled]="controls.invalid"><mat-icon>check</mat-icon> Enviar</button>
      </mat-dialog-actions>

    </ng-template>
  </form>
