mat-dialog-content {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 900px;
}

.title {
  margin-right: 20px !important;
  padding-left: 14px;
}

.childs-size {
  width: 100%;
  height: 100%;
}

.background {

  display: flex;
}

.first-column {
  width: 50%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
}

.second-column {
  width: 50%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3.3fr 1fr;
  gap: 10px;
}

.principal-container {
  width: 100%;
  height: 75%;
  display: flex;
  gap: 10px;
}

.grow {
  flex-grow: 1;
}


table {
  width: 100%;
}
.example-container {
  height: 212px;
  max-width: 100%;
  overflow: auto;
}

.delete-icon {
  cursor: pointer;
  color: var(--second-background-color);
}
