

.cancel{
  padding: 1px 7px 2px 9px !important;
  margin-bottom: 20px;
}

.errorDialog{
  padding: 40px;
}

.status-icon{
  margin-bottom: 20px;
}

.button-close{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  position: relative;
  top: -30px;
  right: -30px;
}
