<div style="width: 100%; height: 100%; display: flex; flex-direction: column;">
  <div style="width: 100%; height: 30%; display: flex; flex-direction: column; align-items: center;">
    <mat-icon [ngStyle]="{'color':'var(--alert-color)'}">
      warning
    </mat-icon>
  </div>
  <div style="width: 100%; height: 70%; text-align: center;">
    <p> Ocurrió un error en el servidor: </p>
    <p style="font-size: 12px;">{{data.Error.url}} - {{data.Error.status}}</p>
  </div>
</div>
