<div style="width: 100%; height: 100%;">
  <div style="width: 100%;  height: 15%">
    <h1 class="title">Crear nuevo insumo</h1>
  </div>
  <mat-card style="width: 100%; height: 85%;" class="mat-elevation-z4">
    <mat-tab-group mat-align-tabs="left">
      <mat-tab label="Catering">
        <form [formGroup]="cateringControls">
          <div style="width: 100%; height: 400px; display: flex; justify-content: center; align-items: center;">
            <mat-card
              style="width: 90%; height: 80%; margin-top: 20px; display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: 1fr 1fr 1fr; gap: 5px;"
              class="mat-elevation-z4">
              <div style="display: flex; justify-content: center; align-items: center;">

                <mat-form-field appearance="outline" style="flex-grow: 1;">
                  <mat-label>Nombre</mat-label>
                  <input formControlName="name" matInput placeholder="Ingresar nombre...">
                  <mat-icon matSuffix>edit</mat-icon>
                  <mat-hint>Ingresar Nombre del Insumo</mat-hint>
                  <mat-error *ngIf="cateringControls.get('name')?.hasError('required')">
                    El nombre es <strong>requerido</strong>.
                  </mat-error>
                </mat-form-field>

              </div>
              <div style="display: flex; justify-content: center; align-items: center;">
                <mat-form-field appearance="outline" style="flex-grow: 1;">
                  <mat-label>Menú</mat-label>
                  <mat-select formControlName="type">
                    <mat-option [value]="i" *ngFor="let menuType of availableCateringMenuType; let i = index">
                      {{menuType}}
                    </mat-option>
                  </mat-select>
                  <mat-hint>Seleccionar Menú</mat-hint>
                  <mat-error *ngIf="cateringControls.get('type')?.hasError('required')">
                    El tipo de menú es <strong>requerido</strong>.
                  </mat-error>
                </mat-form-field>
              </div>
              <div style="grid-column: span 2; display: flex; justify-content: center; align-items: center;">
                <mat-form-field appearance="outline" style="flex-grow: 1;">
                  <mat-label>Descripción</mat-label>
                  <input formControlName="description" matInput placeholder="Agregar descripción...">
                  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                  <mat-hint>Ingresar Descripción</mat-hint>
                  <mat-error *ngIf="cateringControls.get('description')?.hasError('required')">
                    La descripción es <strong>requerida</strong>.
                  </mat-error>
                </mat-form-field>
              </div>
              <div style="grid-column: span 2; display: flex; justify-content: center; align-items: center; gap: 5px;">
                <button style="flex-grow: 1;" [disabled]="cateringControls.invalid" (click)="saveCateringSupply()" mat-raised-button>Crear</button>
                <button style="flex-grow: 1;" (click)="cleanControl(cateringControls)" mat-raised-button>Borrar</button>
              </div>

            </mat-card>
          </div>
        </form>
      </mat-tab>
      <mat-tab label="Sanitario">
        <form [formGroup]="sanitaryControls">
          <div style="width: 100%; height: 400px; display: flex; justify-content: center; align-items: center;">
            <mat-card
              style="width: 90%; height: 80%; margin-top: 20px; display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: 1fr 1fr 1fr; gap: 5px;"
              class="mat-elevation-z4">
              <div style="display: flex; justify-content: center; align-items: center;">

                <mat-form-field appearance="outline" style="flex-grow: 1;">
                  <mat-label>Nombre</mat-label>
                  <input formControlName="name" matInput placeholder="Ingresar nombre...">
                  <mat-icon matSuffix>edit</mat-icon>
                  <mat-hint>Ingresar Nombre del Insumo</mat-hint>
                  <mat-error *ngIf="sanitaryControls.get('name')?.hasError('required')">
                    El nombre es <strong>requerido</strong>.
                  </mat-error>
                </mat-form-field>

              </div>
              <div style="display: flex; justify-content: center; align-items: center;">

                <mat-form-field appearance="outline" style="flex-grow: 1;">
                  <mat-label>Categoría</mat-label>
                  <mat-select formControlName="type">
                    <mat-option [value]="i" *ngFor="let sanitaryType of availableSanitaryType; let i = index">
                      {{sanitaryType}}
                    </mat-option>
                  </mat-select>
                  <mat-hint>Seleccionar Categoría</mat-hint>
                  <mat-error *ngIf="sanitaryControls.get('type')?.hasError('required')">
                    La categoría es <strong>requerida</strong>.
                  </mat-error>
                </mat-form-field>

              </div>
              <div style="grid-column: span 2; display: flex; justify-content: center; align-items: center;">
                <mat-form-field appearance="outline" style="flex-grow: 1;">
                  <mat-label>Descripción</mat-label>
                  <input formControlName="description" matInput placeholder="Agregar descripción...">
                  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                  <mat-hint>Ingresar Descripción</mat-hint>
                  <mat-error *ngIf="sanitaryControls.get('description')?.hasError('required')">
                    La descripción es <strong>requerida</strong>.
                  </mat-error>
                </mat-form-field>
              </div>
              <div style="grid-column: span 2; display: flex; justify-content: center; align-items: center; gap: 5px;">
                <button style="flex-grow: 1;" [disabled]="sanitaryControls.invalid" (click)="saveSanitarySupply()" mat-raised-button>Crear</button>
                <button style="flex-grow: 1;" (click)="cleanControl(sanitaryControls)" mat-raised-button>Borrar</button>
              </div>
            </mat-card>
          </div>
        </form>
      </mat-tab>
      <mat-tab label="Venta">
        <form [formGroup]="saleControls">
          <div style="width: 100%; height: 400px; display: flex; justify-content: center; align-items: center;">
            <mat-card
              style="width: 90%; height: 80%; margin-top: 20px; display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: 1fr 1fr 1fr; gap: 5px;"
              class="mat-elevation-z4">
              <div style="display: flex; justify-content: center; align-items: center;">
                <mat-form-field appearance="outline" style="flex-grow: 1;">
                  <mat-label>Nombre</mat-label>
                  <input formControlName="name" matInput placeholder="Ingresar nombre...">
                  <mat-icon matSuffix>edit</mat-icon>
                  <mat-hint>Ingresar Nombre del Insumo</mat-hint>
                  <mat-error *ngIf="saleControls.get('name')?.hasError('required')">
                    El nombre es <strong>requerido</strong>.
                  </mat-error>
                </mat-form-field>
              </div>
              <div style="display: flex; justify-content: center; align-items: center;">
                <mat-form-field appearance="outline" style="flex-grow: 1;">
                  <mat-label>Categoría</mat-label>
                  <mat-select formControlName="type">
                    <mat-option [value]="i" *ngFor="let saleType of availableSaleType; let i = index">
                      {{saleType}}
                    </mat-option>
                  </mat-select>
                  <mat-hint>Seleccionar Categoría</mat-hint>
                  <mat-error *ngIf="saleControls.get('type')?.hasError('required')">
                    La categoría es <strong>requerida</strong>.
                  </mat-error>
                </mat-form-field>
              </div>
              <div style="display: flex; justify-content: center; align-items: center;">
                <mat-form-field appearance="outline" style="flex-grow: 1;">
                  <mat-label>Precio</mat-label>
                  <input formControlName="price" type="number" matInput placeholder="Ingresar precio..">
                  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                  <mat-hint>Ingresar Precio del Insumo</mat-hint>
                  <mat-error *ngIf="saleControls.get('price')?.hasError('required')">
                    El precio es <strong>requerido</strong>.
                  </mat-error>
                  <mat-error *ngIf="saleControls.get('price')?.hasError('min')">
                    El precio no puede ser <strong>negativo</strong> ni <strong>cero</strong>.
                  </mat-error>
                </mat-form-field>
              </div>
              <div style="display: flex; justify-content: center; align-items: center;">
                <mat-form-field appearance="outline" style="flex-grow: 1;">
                  <mat-label>Descripción</mat-label>
                  <input formControlName="description" matInput placeholder="Agregar descripción...">
                  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                  <mat-hint>Ingresar Descripción</mat-hint>
                  <mat-error *ngIf="saleControls.get('description')?.hasError('required')">
                    La descripción es <strong>requerida</strong>.
                  </mat-error>
                </mat-form-field>
              </div>
              <div style="grid-column: span 2; display: flex; justify-content: center; align-items: center; gap: 5px;">
                <button [disabled]="saleControls.invalid" style="flex-grow: 1;" (click)="saveSaleSupply()" mat-raised-button>Crear</button>
                <button style="flex-grow: 1;" (click)="cleanControl(saleControls)" mat-raised-button>Limpiar</button>
              </div>
            </mat-card>
          </div>
        </form>
      </mat-tab>
    </mat-tab-group>

  </mat-card>



</div>
