<div style="width: 100%; height: 100%; display: flex; flex-direction: column;">
  <div style="width: 100%; height: 30%; display: flex; flex-direction: column; align-items: center;">
    <mat-icon [ngStyle]="{'color':'#EBAB37'}">
      warning
    </mat-icon>
  </div>
  <div style="width: 100%; height: 70%; text-align: center;">
    <p>Es importante que cualquier detalle sobre las tareas sea informado en las observaciones</p>
    <p>La solicitud de mantenimiento sera enviada a un supervisor y ya no podrá ser modificada</p>
    <p>¿Desea guardar?</p>
  </div>
  <div style="display: flex; gap: 10px;">
    <button  style="flex-grow: 1;" [mat-dialog-close]="true" mat-raised-button> <mat-icon>check</mat-icon> Confirmar</button>
    <button  style="flex-grow: 1;" [mat-dialog-close]="false" mat-raised-button> <mat-icon>close</mat-icon> Cancelar</button>
  </div>
</div>
