mat-grid-list{
  background-color: var(--second-background-color);
}

.side-nav-bar{
  background-color: var(--background-color);
  width: 93%;
  height: 710px;
  bottom: 25px;
}

.header{
  background-color: var(--primary-color);
  width: 99%;
  height: 91%;
}

.components{
  background-color: var(--background-color);
  width: 99%;
  height: 599px;
  bottom: 80px;
}






