<body>
  <mat-grid-list cols="7" rowHeight="2:1">
    <mat-grid-tile colspan="1" rowspan="7">
      <mat-card class="side-nav-bar mat-elevation-z4">
        <app-side-nav-bar></app-side-nav-bar>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="6" rowspan="1">
      <mat-card class="header mat-elevation-z4">
        <app-header></app-header>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="6" rowspan="7">
      <mat-card class="components mat-elevation-z4">
          <router-outlet></router-outlet>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</body>


 <!--
<app-header></app-header>
<app-side-nav-bar></app-side-nav-bar>
<router-outlet></router-outlet>
 -->
