<div class="parent-maintenance-container" *ngIf="!loading; else isLoading">
  <div style="width: 100%; height: 10%; display: flex;">
    <h1 class="title">Solicitudes de mantenimiento</h1>

    <button (click)="openDialog()" class="mat-button" style="margin-left: 49%; margin-bottom: 8px;" mat-button> Crear solicitud</button>
  </div>
  <div class="container-scroll">

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 title-size" matSort (matSortChange)="sortData($event)">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="id">ID</th>
        <td mat-cell *matCellDef="let element"> #{{element?.Id}} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="date"> Fecha </th>
        <td mat-cell *matCellDef="let element"> {{element?.Date | datePipe}} </td>
      </ng-container>

      <ng-container matColumnDef="priority">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="priority"> Prioridad </th>
        <td mat-cell *matCellDef="let element">
          {{ priorityTexts[element.Priority]}}
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> <div style="display: flex; justify-content: center; align-items: center;" mat-sort-header="status">Estado</div> </th>
        <td mat-cell *matCellDef="let element">
          <div class="status-container">
            <button class="status-button" mat-icon-button (click)="saveMaintenanceStatus(element)">
              <mat-icon>check</mat-icon>
            </button>
            <mat-select style="margin-top: 10px; width: 100px;" #status="ngModel" [ngModel]="element.StatusId" name="status" (ngModelChange)="element.Status = $event;">
              <mat-option [value]="i" *ngFor="let status of availableStatus; let i=index">
                  {{status}}
              </mat-option>
            </mat-select>
          </div>
          </td>
      </ng-container>

      <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef> <div style="display: flex; justify-content: center; align-items: center;">Duración</div> </th>
        <td mat-cell *matCellDef="let element"> {{element?.Module}} </td>
      </ng-container>

      <ng-container matColumnDef="aircraftName">
        <th mat-header-cell *matHeaderCellDef> <div style="display: flex; justify-content: center; align-items: center;">Aeronave</div> </th>
        <td mat-cell *matCellDef="let element"> {{element.Aircraft}}</td>
      </ng-container>

      <ng-container matColumnDef="technician">
        <th mat-header-cell *matHeaderCellDef> Técnico </th>
        <td mat-cell *matCellDef="let element"> {{element?.Technician?.Name}}</td>
      </ng-container>

      <ng-container matColumnDef="observation">
        <th mat-header-cell *matHeaderCellDef style="margin-left: 10px !important;"> Observación </th>
        <td mat-cell *matCellDef="let element"> {{element?.Observation}}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Descripción </th>
        <td mat-cell *matCellDef="let element"> {{element?.Description}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight': row?.Priority == 0 }"></tr>

    </table>

  </div>
</div>
<ng-template #isLoading>
  <div style="height: 89%; width: 100%; display: flex; align-items: center; justify-content: center;">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
