.container-maintenance-card {
  width: 100%;
  height: 88%;
  background-color: var(--background-color);
}

.container-scroll{
  width: 100%;
  height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 8px;
}

.parent-maintenance-container{
  height: 100%;
  width: 100%;
}

table {
  width: 100%;
}

.mat-row:nth-child(n){
  background-color: var(--background-color);
}

th.mat-sort-header-sorted {
  color: black;
}

.highlight{
  border: 1.5px solid var(--alert-color);
}

.status-container {
  display: flex;
}

.mat-column-priority {
  width: 70px !important;
}

.mat-column-date {
  width: 100px !important;
}
.mat-column-description {
  width: 40% !important;
}


