<h4 mat-dialog-title class="title">{{title}}</h4>
<mat-grid-list cols="8" rowHeight="2:1">
  <form [formGroup]="controls">
    <mat-grid-tile colspan="5" rowspan="2">

      <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="name">
        <mat-hint>Ingresar el nombre del control</mat-hint>
        <mat-error *ngIf="controls.get('name')?.hasError('required')">
          El nombre del control es <strong>requerido</strong>.
        </mat-error>
      </mat-form-field>

    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="2">
      <mat-form-field style="width: 100%;" appearance="outline">
        <mat-label>Rol</mat-label>
        <mat-select formControlName="role">
          <mat-option [value]="role" *ngFor="let role of availableRoles">
            {{role.Name}}
          </mat-option>
        </mat-select>
        <mat-hint>Agregar Rol</mat-hint>
        <mat-error *ngIf="controls.get('role')?.hasError('required')">
          El rol es <strong>requerida</strong>.
        </mat-error>
      </mat-form-field>

    </mat-grid-tile>

    <!-- <mat-grid-tile colspan="2" rowspan="2">
      <mat-form-field style="width: 100%;" appearance="outline">
        <mat-label>Tipo</mat-label>
        <mat-select formControlName="type">
          <mat-option [value]="type" *ngFor="let type of availableTypes;">
            {{type}}
          </mat-option>
        </mat-select>
        <mat-hint>Agregar Tipo de control</mat-hint>
        <mat-error *ngIf="controls.get('type')?.hasError('required')">
          El tipo es <strong>requerido</strong>.
        </mat-error>
      </mat-form-field>

    </mat-grid-tile> -->

    <mat-grid-tile colspan="8" rowspan="4">

      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Descripción</mat-label>
        <textarea formControlName="description" matInput placeholder="Agregar una descripción..."
          style="width: 100%; height: 100%;"></textarea>
        <mat-hint>Ingresar una descripción</mat-hint>
        <mat-error *ngIf="controls.get('description')?.hasError('required')">
          La descripción es <strong>requerida</strong>.
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>

  </form>


  <mat-grid-tile colspan="8" rowspan="6">
    <div style="width: 100%; height: 95%; overflow-x: hidden;" class="common-border">
      <mat-tab-group style="width: 100%; width: 100%;" mat-align-tabs="start" [(selectedIndex)]="tabIndex">
        <mat-tab label="Tareas">
          <table mat-table [dataSource]="taskDataSource">

            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef> Descripción </th>
              <td mat-cell *matCellDef="let element"> {{element.Description}} </td>
            </ng-container>

            <ng-container matColumnDef="role">
              <th mat-header-cell *matHeaderCellDef> Rol </th>
              <td mat-cell *matCellDef="let element"> {{element.Role.Name}} </td>
            </ng-container>

            <ng-container matColumnDef="remove">
              <th mat-header-cell *matHeaderCellDef> Eliminar </th>
              <td mat-cell *matCellDef="let element;">
                <a (click)="deleteTask(element)" class="delete-icon" style="cursor: pointer;">
                  <mat-icon>delete</mat-icon>
                </a>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="taskDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: taskDisplayedColumns;"></tr>
          </table>
        </mat-tab>

        <mat-tab label="Insumos">
          <table mat-table [dataSource]="suppliesDataSource">

            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef> Descripción </th>
              <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
            </ng-container>

            <ng-container matColumnDef="remove">
              <th mat-header-cell *matHeaderCellDef> Eliminar </th>
              <td mat-cell *matCellDef="let element;">
                <a (click)="deleteSupply(element)" class="delete-icon" style="cursor: pointer;">
                  <mat-icon>delete</mat-icon>
                </a>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="supplyDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: supplyDisplayedColumns;"></tr>
          </table>

        </mat-tab>
      </mat-tab-group>
    </div>

  </mat-grid-tile>

  <mat-grid-tile colspan="7" rowspan="2">

    <form [formGroup]="taskControl" style="width: 100%; height: 100%; display: flex; gap: 5px;">
      <ng-container *ngIf="tabIndex == 0; else isSuppliesTab">

        <mat-form-field class="example-full-width" style="flex-grow: 1;" appearance="outline">
          <mat-label>Descripción de la tarea</mat-label>
          <input matInput formControlName="description">
        </mat-form-field>

        <mat-form-field class="example-full-width" style="flex-grow: 1;" appearance="outline">
          <mat-label>Rol</mat-label>
          <mat-select formControlName="role">
            <mat-option [value]="role" *ngFor="let role of availableRoles">
              {{role.Name}}
            </mat-option>
          </mat-select>
        </mat-form-field>


      </ng-container>
    </form>
    <ng-template #isSuppliesTab>
      <mat-form-field style="width: 100%;" appearance="outline">
        <mat-label>Insumos</mat-label>
        <mat-select [formControl]="supplyControl">
          <mat-option [value]="supply" *ngFor="let supply of availableSupplies">
            {{supply.Name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </ng-template>

  </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="2">
    <button style="width: 100%; height: 64px; margin-bottom: 19px; margin-left: 6px;" [disabled]="disableButton()"
      (click)="add()" mat-raised-button>Agregar</button>
  </mat-grid-tile>

</mat-grid-list>

<div matTooltipPosition="below" #tooltip="matTooltip" [matTooltip]="getTooltipMessage()">
  <button style="width: 100%; height: 40px;" mat-raised-button [disabled]="disableSaveButton()"
    (click)="closeAndSave()">Guardar Control</button>
</div>
