.example-full-width {
  width: 100%;
}

table{
  width: 100%;
  overflow-x: scroll;
}

.delete-icon {
  cursor: pointer;
  color: var(--second-background-color);
}

tr.mat-row {
  height: 30px;
}

.mat-table {
  overflow: auto;
  max-height: 100px;
}

.mat-column-remove {
  width: 40px !important;
}

.mat-column-role {
  width: 80px !important;
}
