<div style="width: 100%; height: 100%;">
  <div style="height: 12%; display: flex; justify-content: space-between; margin-bottom: 8px;">
    <h1 class="title">Asignación de controles por vuelo</h1>
  </div>
  <mat-card style="width: 100%; height: 85%; display: flex; gap: 10px; background-color: var(--second-background-color)"
    class="mat-elevation-z4">

    <mat-card style="width: 35%; height: 100%;" class="mat-elevation-z4">
      <form [formGroup]="controls" style="width: 100%; height: 100%;">
        <div style="display: grid; grid-template-columns: 1fr ; grid-template-rows: 1fr 1fr 1fr 1fr 1fr; gap: 5px;">
          <div style="display: flex; justify-content: center; align-items: center;">
            <div style="flex-grow: 1;">
              <h2 class="title" style="display: flex; align-items: center;">
                Asignar
              </h2>
            </div>
            <div style="display: flex; align-items: center; justify-content: center; flex-grow: 1">
              <button style="width: 100%;" mat-raised-button *ngIf="controls.get('flight')?.value != null" (click)="openDialogControl('Nuevo Control Eventual')">Crear Control Eventual</button>
            </div>
          </div>
          <div>
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>Vuelo</mat-label>
              <mat-select [disabled]="loadingFlights" formControlName="flight" (ngModelChange)="changeFlightLogic()">
                <mat-option [value]="flight" *ngFor="let flight of availableFlights;">
                  {{flight.FlightId}} - {{flight.Type}}
                </mat-option>
              </mat-select>
              <mat-spinner *ngIf="loadingFlights" matSuffix [diameter]="18" style="float: right; margin-left: 8px; margin-bottom: 5px;"></mat-spinner>
              <mat-hint>Seleccionar Vuelo</mat-hint>
              <mat-error *ngIf="controls.get('flight')?.hasError('required')">
                El vuelo es <strong>requerido</strong>.
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>Control</mat-label>
              <mat-select formControlName="control">
                <mat-option [value]="control" *ngFor="let control of filterAvailableControls(controlsRoutinData);">
                  {{control.Name}} - {{control.Type}}
                </mat-option>
              </mat-select>
              <mat-hint>Seleccionar Control</mat-hint>
              <mat-error *ngIf="controls.get('control')?.hasError('required')
              && filterAvailableControls(controlsRoutinData)?.length != 0">
                El control es <strong>requerido</strong>.
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>Observación</mat-label>
              <input formControlName="observation" matInput placeholder="Agregar observación...">
              <mat-icon matSuffix>warning</mat-icon>
              <mat-hint>Ingresar Observación</mat-hint>
              <mat-error *ngIf="controls.get('observation')?.hasError('required')">
                La observación es <strong>requerida</strong>.
              </mat-error>
            </mat-form-field>
          </div>

          <div style="display: flex; width: 100%; height: 100%; gap: 5px; justify-content: center;">
            <button (click)="doSave(); cleanControl()" [disabled]="invalidForms()" mat-raised-button
              style="flex-grow: 1; height: 50%;">Agregar</button>
          </div>

        </div>
      </form>
    </mat-card>

    <mat-card style="width: 65%; height: 100%; overflow-y: scroll; overflow-x: hidden;" class="mat-elevation-z4" >
      <ng-container *ngIf="!loadingTable; else isLoading" style="width: 100%; height: 100%;">
        <table mat-table [dataSource]="dataSource">

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{ element.Control.Name}} </td>
          </ng-container>

          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Tipo </th>
            <td mat-cell *matCellDef="let element"> {{ element.Control.Type }} </td>
          </ng-container>

          <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef> Rol </th>
            <td mat-cell *matCellDef="let element"> {{ element.Control.Role?.Name }} </td>
          </ng-container>

          <ng-container matColumnDef="controlView">
            <th mat-header-cell *matHeaderCellDef> Examinar </th>
            <td mat-cell *matCellDef="let element;">
              <a class="view-control-icon" (click)="openDialog(
                element.Control,
                element.FlightId,
                element.Observation
                );
              $event.stopPropagation()" style="cursor: pointer;">
                <mat-icon>visibility</mat-icon>
              </a>
            </td>
          </ng-container>

          <ng-container matColumnDef="remove">
            <th mat-header-cell *matHeaderCellDef> Eliminar </th>
            <td mat-cell *matCellDef="let element;">
              <a class="delete-icon" (click)="doDelete(element); $event.stopPropagation()" style="cursor: pointer;">
                <mat-icon>delete</mat-icon>
              </a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
      </ng-container>
      <ng-template #isLoading>
        <div style="height: 100%; width: 100%; display: flex; align-items: center; justify-content: center;">
          <mat-spinner></mat-spinner>
        </div>
      </ng-template>
    </mat-card>

  </mat-card>


</div>
