table{
  width: 100%;
  overflow-x: scroll;
}

.delete-icon {
  cursor: pointer;
  color: var(--second-background-color);
}

.view-control-icon {
  cursor: pointer;
  color: var(--second-background-color);
}

