<div style="width: 100%;  height: 15%">
  <h1 class="title">Asignación de insumos por vuelo</h1>
</div>

<mat-card style="width: 100%; height: 85%; display: flex; gap: 10px; background-color: var(--second-background-color)" class="mat-elevation-z4">
  <mat-card style="width: 35%; height: 100%;" class="mat-elevation-z4">
    <form [formGroup]="controls" style="width: 100%; height: 100%;">
    <div
      style="width: 100%; height: 100%; display: grid; grid-template-columns: 1fr 1fr ; grid-template-rows: 1fr 1fr 1fr 1fr; gap: 5px;">

      <div style="display: flex; justify-content: center; align-items: center; grid-column: 2 span;">
        <div style="flex-grow: 1;">
          <h2 class="title" style="display: flex; align-items: center;">
            Asignar
          </h2>
        </div>
        <div style="display: flex; align-items: center; justify-content: center; flex-grow: 1">
            <button [disabled]="loadingRecommendedQuantities || loadingPassengers"  *ngIf="controls.get('flight')?.value != null" (click)="openDialog()" style="width: 100%;" mat-raised-button>
              Ver insumos necesarios
          </button>
        </div>
      </div>


      <div style="grid-column: 2 span;">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Vuelo</mat-label>
          <mat-select formControlName="flight" (ngModelChange)="changeFlightLogic()">
            <mat-option [value]="flight" *ngFor="let flight of availableFlights;">
              {{flight?.FlightId}}  -  {{flight?.Type?.toString()?.toUpperCase()}}
            </mat-option>
          </mat-select>
          <mat-spinner *ngIf="loadingFlights" matSuffix [diameter]="18" style="float: right; margin-left: 8px; margin-bottom: 5px;"></mat-spinner>
          <mat-hint>Seleccionar Vuelo</mat-hint>
          <mat-error *ngIf="controls.get('flight')?.hasError('required')">
            El vuelo es <strong>requerido</strong>.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Insumo</mat-label>
          <mat-select formControlName="supply">
            <mat-optgroup label="Catering">
              <mat-option [value]="catering" *ngFor="let catering of filterSupply(availableSupplies.catering, 'CATERING')">
                {{catering?.Name}}
              </mat-option>
            </mat-optgroup>
            <mat-optgroup label="Venta">
              <mat-option [value]="sale" *ngFor="let sale of filterSupply(availableSupplies.sale, 'VENTA');">
                {{sale?.Name}}
              </mat-option>
            </mat-optgroup>
            <mat-optgroup label="Sanitario">
              <mat-option [value]="sanitary" *ngFor="let sanitary of filterSupply(availableSupplies.sanitary, 'SANITARIO');">
                {{sanitary?.Name}}
              </mat-option>
            </mat-optgroup>
          </mat-select>
          <mat-hint>Seleccionar Insumo</mat-hint>
          <mat-error *ngIf="controls.get('supply')?.hasError('required')">
            El tipo de insumo <strong>requerido</strong>.
          </mat-error>
        </mat-form-field>

      </div>
      <div style="grid-column: 2 span;">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Cantidad</mat-label>
          <input type="number" formControlName="quantity" matInput placeholder="Agregar cantidad...">
          <mat-icon matSuffix>warning</mat-icon>
          <mat-hint>Ingresar Cantidad</mat-hint>
          <mat-error *ngIf="controls.get('quantity')?.hasError('required')">
            La cantidad es <strong>requerida</strong>.
          </mat-error>
          <mat-error *ngIf="controls.get('quantity')?.hasError('min')">
            La cantidad no puede ser <strong>negativa</strong> ni <strong>cero</strong>.
          </mat-error>
        </mat-form-field>
      </div>
      <div style="grid-column: 2 span;">
        <div style="display: flex; width: 100%; height: 100%; gap: 5px; justify-content: center;">
          <button (click)="doSave(); cleanControl()" [disabled]="invalidForms()" mat-raised-button style="flex-grow: 1; height: 50%;">Agregar</button>
        </div>
      </div>
    </div>
  </form>
  </mat-card>
  <mat-card style="width: 65%; height: 100%; overflow: auto;" class="mat-elevation-z4">
    <ng-container *ngIf="!loadingTable; else isLoading" style="width: 100%; height: 100%;">

      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.Supply.Name}} </td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> Tipo </th>
          <td mat-cell *matCellDef="let element"> {{getSupplyTypeText(element.Supply)}} </td>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef> Cantidad </th>
          <td mat-cell *matCellDef="let element"> {{element.FinalQuantity}} </td>
        </ng-container>

        <ng-container matColumnDef="remove">
          <th mat-header-cell *matHeaderCellDef> Eliminar </th>
          <td mat-cell *matCellDef="let element;">
            <a class="delete-icon" (click)="delete(element)" style="cursor: pointer;">
              <mat-icon>delete</mat-icon>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
    </ng-container>
    <ng-template #isLoading>
      <div style="height: 100%; width: 100%; display: flex; align-items: center; justify-content: center;">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
  </mat-card>
</mat-card>
