
<mat-tab-group *ngIf="!loading else stillLoading" mat-align-tabs="center" style="width: 100%; height: 100%;">
  <mat-tab label="Insumos de Catering">
    <div style="width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <div style="width: 95%; height: 100%; overflow: hidden;">
          <app-catering [cateringSuppliesData] = "cateringSuppliesData" [auxiliaryFlightId] = "auxiliaryFlightId"></app-catering>
        </div>
    </div>
  </mat-tab>
  <mat-tab label="Insumos Sanitarios">
    <div style="width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
      <div style="width: 95%; height: 100%; overflow: hidden;">
        <app-sanitary  [sanitarySuppliesData] = "sanitarySuppliesData" [auxiliaryFlightId] = "auxiliaryFlightId"></app-sanitary>
      </div>
  </div>
  </mat-tab>
  <mat-tab label="Insumos de Venta">
    <div style="width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
      <div style="width: 95%; height: 100%; overflow: hidden;">
        <app-sale  [saleSuppliesData] = "saleSuppliesData" [auxiliaryFlightId] = "auxiliaryFlightId"></app-sale>
      </div>
  </div>
  </mat-tab>
</mat-tab-group>
<ng-template #stillLoading>
  <div style="height: 89%; width: 100%; display: flex; align-items: center; justify-content: center;">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

