<ng-container *ngIf="!loading; else isLoading" style="height: 100%;">
  <div style="height: 10%; display: flex; justify-content: space-between;">
    <h1 class="title">Configuración de emergencias</h1>
    <button mat-button (click)="openDialog('Nueva Emergencia')">Crear emergencia</button>
  </div>

  <div style="height: 80%;" class="scroll">
    <div style="margin: 10px;">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let emergency of emergencyData | paginate:pageSize:pageNumber" style="margin-top: 5px;">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div style="width: 35%;">
                {{emergency?.Name}}
              </div>
              <div style="width: 20%;">
               Vuelo: {{emergency?.FlightId}}
              </div>
              <div>
                Prioridad: {{emergency?.Priority}}
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div> 
            <h6 style="font-weight: bold;">Observacion:</h6>
            <p>{{emergency?.Observation}}</p>
          </div>
          <div>
            <h6 style="font-weight: bold;">Responsable:</h6>
            <p>{{emergency.CrewMember}}</p>
          </div>
          <!-- <div style="display: flex;">
            <div style="flex-grow: 1;">
              <h6>Protocolo:</h6>
              <mat-list>
                <mat-list-item *ngFor="let task of emergency.Protocol.Tasks">
                  <div [ngStyle]="getMargin(task.Id)">
                    {{task.Id}} {{task?.Name}}
                  </div>
                  <mat-divider></mat-divider>
                </mat-list-item>
              </mat-list>
            </div>
          </div> -->
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
  <mat-paginator showFirstLastButtons="true" [length]="emergencyData.length" [pageSize]="pageSize" [pageSizeOptions]="[10, 50, 100]" aria-label="Select page"
    (page)="handlePage($event)">
  </mat-paginator>
</ng-container>
<ng-template #isLoading>
  <div style="height: 89%; width: 100%; display: flex; align-items: center; justify-content: center;">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
