.example-card {
  max-width: 400px;
  background-color: var(--second-background-color) !important;
  opacity: 0.91;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.background {
  /*background-color: var(--primary-color) !important;*/
  background-image: url("src\assets\background.jpeg");
  background-size: 100% 100%;
  background-repeat:no-repeat;
  background-size: cover;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.unauthorize-click{
  pointer-events: none;
}
