
<div class="background" style="height: 100%; width: 100%; display: flex; align-items: center; justify-content: center;">

  <mat-card class="example-card" style="bottom: 90px;">
    <mat-card-header>

      <mat-card-title style="display: flex; align-items: center; justify-content: center;">
         <h1>
          Special Flights
         </h1>
      </mat-card-title>
      <mat-card-subtitle>Operaciones de cabina y mantenimiento</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="controls">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Nombre de usuario</mat-label>
          <input matInput placeholder="Ingresar usuario" formControlName ="name">
        </mat-form-field>


        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input type="password" matInput placeholder="Ingresar contraseña" formControlName = "password">
        </mat-form-field>
      </form>

        <div *ngIf="showError" style="display: flex; color: red;">
          El usuario o la contarseña son incorrectos
        </div>

    </mat-card-content>
    <mat-card-actions>
      <button [disabled]="loading || controls.invalid"  (click)="tryLogin()" mat-raised-button style="width: 100%; height: 40px;">
        <ng-container *ngIf="loading else loaded">
          <mat-spinner style="margin:0 auto;" [diameter]="30"></mat-spinner>
        </ng-container>
        <ng-template #loaded>
          Ingresar
        </ng-template>
      </button>
    </mat-card-actions>
  </mat-card>

</div>
