.mat-expansion-panel:not([class*='mat-elevation-z']) {
  box-shadow: none;
}

.normal-border{
  border: 1px solid;
  border-color: var(--primary-color);
}

.alert-boder{
  border: 1px solid;
  border-color: var(--alert-color);
}

.alert-font-color {
  color: var(--alert-color);
}

.normal-font-color {
  color: var(--primary-color);
}
