<ng-container *ngIf="!loading; else isLoading" style="height: 100%;">
  <div style="width: 100%; height: 100%;">
    <div style="width: 100%; height: 15%;">
      <h1 class="title">Notificaciones</h1>
    </div>
      <div style="width: 100%; height: 85%;">
        <div style="overflow: scroll; overflow-x: hidden; width: 100%; height: 90%;">
          <mat-accordion *ngIf="notificationsData.length != 0" style="display: flex; flex-direction: column;" multi="true" hideToggle="true">
            <mat-expansion-panel
            [ngClass]="{ 'alert-boder' : notification.Priority == 'ALTA', 'normal-border': notification.Priority != 'ALTA'}"
            *ngFor="let notification of notificationsData | paginate:pageSize:pageNumber" style="margin-top: 2px;">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div style="display: flex; justify-content: space-between; width: 100%;">
                    <div style="width: 35%;" [ngClass]="getNgClassObject(notification)"><strong>{{notification?.Subject}}</strong></div>
                    <div style="width: 25%;" [ngClass]="getNgClassObject(notification)"><strong>Prioridad: {{notification?.Priority}}</strong></div>
                    <div style="width: 25%;" [ngClass]="getNgClassObject(notification)"><strong>Fecha: {{notification.Date | datePipe}}</strong></div>
                    <div style="width: 15%;" [ngClass]="getNgClassObject(notification)"><a (click)="doDelete(notification); $event.stopPropagation()"><mat-icon>delete</mat-icon> </a></div>
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p [ngClass]="getNgClassObject(notification)">{{notification?.Message}}</p>
            </mat-expansion-panel>
          </mat-accordion>
          <div style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;">
            <app-empty-state *ngIf="notificationsData.length == 0" message="No Hay Notificaciones En Este Momento"></app-empty-state>
          </div>
        </div>

        <mat-paginator *ngIf="notificationsData.length != 0" showFirstLastButtons="true" [length]="notificationsData.length" [pageSize]="pageSize" [pageSizeOptions]="[10, 50, 100]" aria-label="Select page"
        (page)="handlePage($event)">
        </mat-paginator>
      </div>
  </div>
</ng-container>
<ng-template #isLoading>
  <div style="height: 89%; width: 100%; display: flex; align-items: center; justify-content: center;">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
