@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  width: 100%;
  height: 100%;
}

/*Redondeado de todas las cards*/
mat-card {
  border-radius: 4px !important;
  color: var(--background-color) !important;
}

/*Cambiar color a las opciones del select*/
.example-panel-color.mat-select-panel {
  background: var(--background-color);
}

/*Colores mat select*/
.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: var(--background-color);
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: var(--background-color);
}

/*Color de la letra de un label*/
mat-label {
  color: var(--primary-color);
}

/*Color del valor seleccionado de un mat select*/
.mat-select-value {
  color: var(--primary-color) !important;
}

input {
  color: var(--primary-color) !important;
}

:root {
  --primary-color: #03999e;
  --alert-color: #d46142;
  --background-color: #f8fbfd;
  --second-background-color: #97bcc7;
  --title-color: #05486c;
  --text-color: black;
}

.mat-button {
  background-color: var(--primary-color);
  color: var(--background-color);
  border-radius: 20px !important;
}

.blue-snackbar {
  background: var(--primary-color);
  color:  var(--background-color);
  width: 30px;
}

::-webkit-scrollbar {
  width: 5px;
  overflow-y: scroll;
  background: var(--second-background-color);
  box-shadow: inset 0 0 4px var(--second-background-color);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}

.title{
  color: var(--title-color);
}

.common-border {
  border: 1px solid var(--primary-color);
}

.mat-raised-button {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.mat-header-cell {
  background: var(--second-background-color);
  font-size: 15px !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color:var(--primary-color);
}

.mat-radio-button.mat-accent .mat-radio-inner-circle{
  color:var(--primary-color);
  background-color:var(--primary-color);
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color:rgb(255, 37, 37,.26)
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: var(--primary-color);
}

.normal-font-color {
  color: var(--primary-color);
}

.scroll{
  overflow-x: hidden;
  overflow-y: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
