<div style="width: 100%; height: 100%;">
  <h4 class="title"> {{data.title}} </h4>
  <form [formGroup]="controls">

    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Nombre del tipo de emergencia</mat-label>
      <input formControlName="emergencyTypeName" matInput placeholder="Agregar nombre...">
      <mat-icon matSuffix style="color: #F44336;"
      *ngIf="controls.get('emergencyTypeName')?.hasError('required') && controls.get('emergencyTypeName')?.touched">
      warning
      </mat-icon>
      <mat-hint>Ingresar nombre de la emergencia</mat-hint>
      <mat-error *ngIf="controls.get('emergencyTypeName')?.hasError('required')">
        El nombre de la emergencia es <strong>requerido</strong>.
      </mat-error>
    </mat-form-field>


    <mat-form-field style="width: 100%;" appearance="outline">
      <mat-label>Protocolo</mat-label>
      <mat-select formControlName="protocol">
        <mat-option [value]="protocol.Id" *ngFor="let protocol of availableProtocols">
          {{protocol.Name}}
        </mat-option>
      </mat-select>
      <mat-hint>Seleccionar protocolo</mat-hint>
      <mat-error *ngIf="controls.get('protocol')?.hasError('required')">
        El protocolo es <strong>requerido</strong>.
      </mat-error>
    </mat-form-field>
  </form>
  <mat-card style="width: 100%; height: 400px" class="mat-elevation-z2">
    <div style="width: 100%; height: 100%; overflow: auto;">
      <mat-list *ngIf="controls.get('protocol')?.value">
        <mat-list-item *ngFor="let task of getSelectedProtocol().Tasks">
          <div [ngStyle]="getMargin(task.Id)" class="normal-font-color">
            {{task.Id}} - {{task?.Name}}
          </div>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-card>

  <div style="display: flex; gap: 10px; margin-top: 10px;">
    <button style="flex-grow: 1;" mat-raised-button [disabled]="controls.invalid" (click)="closeAndSave()"> <mat-icon>check</mat-icon> aceptar</button>
    <button style="flex-grow: 1;" mat-raised-button [mat-dialog-close]="false"> <mat-icon>close</mat-icon>  cancelar</button>
  </div>

</div>
