<div style="width: 100%; height: 100%;">
    <h4 class="title"> {{data.title}} </h4>
    <form [formGroup]="controls">

      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Nombre</mat-label>
        <input formControlName="emergencyName" matInput placeholder="Agregar nombre...">
        <mat-icon matSuffix style="color: #F44336;"
        *ngIf="controls.get('emergencyName')?.hasError('required') && controls.get('emergencyName')?.touched">
        warning
        </mat-icon>
        <mat-hint>Ingresar nombre de la emergencia</mat-hint>
        <mat-error *ngIf="controls.get('emergencyName')?.hasError('required')">
          El nombre de la emergencia es <strong>requerido</strong>.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Vuelo</mat-label>
        <mat-select formControlName="flight">
          <mat-option [disabled]="flight.Status == 'en_vuelo'" [value]="flight" *ngFor="let flight of availableFlights;">
            {{flight?.FlightId}}  -  {{flight?.Type?.toString()?.toUpperCase()}}
          </mat-option>
        </mat-select>
        <mat-spinner *ngIf="loadingFlights" matSuffix [diameter]="18" style="float: right; margin-left: 8px; margin-bottom: 5px;"></mat-spinner>
        <mat-hint>Seleccionar Vuelo</mat-hint>
        <mat-error *ngIf="controls.get('flight')?.hasError('required')">
          El vuelo es <strong>requerido</strong>.
        </mat-error>
      </mat-form-field>

      <mat-form-field style="width: 100%;" appearance="outline">
        <mat-label>Tipo de Emergencia</mat-label>
        <mat-select formControlName="emergencyType">
          <mat-option [value]="emergencyType.Id" *ngFor="let emergencyType of availableTypes">
            {{emergencyType.Name}}
          </mat-option>
        </mat-select>
        <mat-hint>Seleccionar Tipo de Emergencia</mat-hint>
        <mat-error *ngIf="controls.get('emergencyType')?.hasError('required')">
          El Tipo de emergencia es <strong>requerido</strong>.
        </mat-error>
      </mat-form-field>
      <mat-card style="width: 100%; height: 400px" class="mat-elevation-z2">
        <div style="width: 100%; height: 100%; overflow: auto;">
          <mat-list *ngIf="controls.get('emergencyType')?.value">
            <mat-list-item *ngFor="let task of getSelectedType().Protocol?.Tasks">
              <div [ngStyle]="getMargin(task.Id)" class="normal-font-color">
                {{task.Id}} - {{task?.Name}}
              </div>
              <mat-divider></mat-divider>
            </mat-list-item>
          </mat-list>
        </div>
      </mat-card>

      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Observación</mat-label>
        <input formControlName="observation" matInput placeholder="Agregar observación...">
        <mat-icon matSuffix style="color: #F44336;"
        *ngIf="controls.get('observation')?.hasError('required') && controls.get('observation')?.touched">
        warning
        </mat-icon>
        <mat-hint>Ingresar observación</mat-hint>
        <mat-error *ngIf="controls.get('emergencyName')?.hasError('required')">
          La observación es <strong>requerida</strong>.
        </mat-error>
      </mat-form-field>

      <mat-form-field style="width: 100%;" appearance="outline">
        <mat-label>Prioridad</mat-label>
        <mat-select formControlName="priority">
          <mat-option value="1">1</mat-option>
          <mat-option value="2">2</mat-option>
          <mat-option value="3">3</mat-option>
          <mat-option value="4">4</mat-option>
          <mat-option value="5">5</mat-option>
        </mat-select>
        <mat-hint>Seleccionar Prioridad</mat-hint>
        <mat-error *ngIf="controls.get('priority')?.hasError('required')">
          La prioridad es <strong>requerida</strong>.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Responsable</mat-label>
        <input formControlName="crewMember" matInput placeholder="Agregar nombre del tripulante a cargo...">
        <mat-icon matSuffix style="color: #F44336;"
        *ngIf="controls.get('crewMember')?.hasError('required') && controls.get('crewMember')?.touched">
        warning
        </mat-icon>
        <mat-hint>Ingresar nombre del responsable</mat-hint>
        <mat-error *ngIf="controls.get('crewMember')?.hasError('required')">
          El nombre del responsable es <strong>requerido</strong>.
        </mat-error>
      </mat-form-field>
    </form>


    <div style="display: flex; gap: 10px; margin-top: 10px;">
      <button style="flex-grow: 1;" mat-raised-button [disabled]="controls.invalid" (click)="closeAndSave()"> <mat-icon>check</mat-icon> aceptar</button>
      <button style="flex-grow: 1;" mat-raised-button (click)="cancel()"> <mat-icon>close</mat-icon>  cancelar</button>
    </div>

  </div>
