<div class="maintenance-container">
  <h1 class="title">Tus solicitudes de mantenimiento</h1>
  <div class="container-scroll">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 title-size"  matSort (matSortChange)="sortData($event)">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="id"> Id </th>
        <td mat-cell *matCellDef="let element"> {{element?.Id}} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="date"> Fecha </th>
        <td mat-cell *matCellDef="let element"> {{element?.Date | datePipe}} </td>
      </ng-container>

      <ng-container matColumnDef="priority">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="priority"> Prioridad </th>
        <td mat-cell *matCellDef="let element">
          {{ priorityTexts[element.Priority]}}
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="status"> Estado </th>
        <td mat-cell *matCellDef="let element">
          <div class="status-container" *ngIf="editableStatus(element); else isNotEditable">
            <button class="status-button" mat-icon-button (click)="saveMaintenanceStatus(element); $event.stopPropagation()">
              <mat-icon>check</mat-icon>
            </button>
            <mat-select (click)="$event.stopPropagation();" style="margin-top: 10px; width: 100px;" #status="ngModel" [ngModel]="element.StatusId" name="status" (ngModelChange)="element.Status = $event;">
              <mat-option [value]="status.index" *ngFor="let status of availableStatus; let i=index">
                  {{status.name}}
              </mat-option>
            </mat-select>
          </div>
          <ng-template #isNotEditable>
              {{statusTexts[element.StatusId]}}
          </ng-template>
          </td>
      </ng-container>

      <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef> Duración </th>
        <td mat-cell *matCellDef="let element"> {{element?.Module}} </td>
      </ng-container>

      <ng-container matColumnDef="aircraftName">
        <th mat-header-cell *matHeaderCellDef> Aeronave </th>
        <td mat-cell *matCellDef="let element"> {{element.Aircraft}}</td>
      </ng-container>

      <ng-container matColumnDef="technician">
        <th mat-header-cell *matHeaderCellDef> Técnico </th>
        <td mat-cell *matCellDef="let element"> {{element?.Technician?.Name}}</td>
      </ng-container>

      <ng-container matColumnDef="observation">
        <th mat-header-cell *matHeaderCellDef> Observación </th>
        <td mat-cell *matCellDef="let element"> {{element?.Observation}}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Descripción </th>
        <td mat-cell *matCellDef="let element"> {{element?.Description}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openDialog(row)" [ngClass]="{'highlight': row?.Priority == 0 }"></tr>


    </table>
  </div>

</div>

