.maintenance-container {
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
}

.container-scroll{
  width: 100%;
  height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 8px;
}

.container-scroll{
  width: 100%;
  height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 8px;
}

table {
  width: 100%;
}

.highlight{
  border: 1.5px solid var(--primary-color);
}


.mat-row:hover {
  background-color: var(--primary-color);
  cursor: pointer;
}
